<ion-header>
  <ion-toolbar>
    <ion-title>{{selectedProduct.label}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/product"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="back()">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content size="3">
  <ion-img [src]="selectedProduct.img"></ion-img>
  <ion-grid>
    <ion-row>
      <ion-col >{{selectedProduct.description}}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col >Quantity Available :{{selectedProduct.maxquantity}}</ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
